.volume-range {
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  transform: translate(70px, 0);
}

.volume-icon {
  padding: 5px;
}

.volume-range input {
  max-width: 100px;
  width: fit-content;
}

.volume {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media only screen and ( max-width : 1000px ) {

  .volume-range {
    transform: translate(0, -70px) rotate(-90deg);
  }
}
