.editProfileContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.editProfileContainer div {
  margin-top: 20px;
}

.editProfileContainer input {
  border: none;
  border-radius: 150px;
  outline: none;
  padding: 10px 20px;
}

.editProfileContainer textarea {
  border: none;
  border-radius: 150px;
  height: 60px;
  outline: none;
  padding: 10px 20px;
  resize: none;
  width: 50%;
}

.saveButton {
  background-color: #2fc18c;
  border: none;
  border-radius: 150px;
  outline: none;
  padding: 10px 20px;
}
