.header {
  background-color: rgb(66, 37, 80);
  color: white;
}

.black {
  background-color: black;
}

p {
  font-size: 3;
  font-weight: 300;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
}

.container div {
  min-width: 120px;
}

img {
  height: 42px;
}

.profileName {
  color: #2fc18c;
  padding: 0 10px;
}

.containerProfile {
  align-items: center;
  display: flex;
  justify-items: stretch;
}
