/* stylelint-disable max-line-length */

/* stylelint-disable property-no-vendor-prefix */
.player {
  bottom: 0;
  position: fixed;
  user-select: none;
  width: 100%;
}

.player-content {
  align-items: center;
  background-color: rgb(20, 20, 20);
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 80px;
}

.player-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.range {
  -webkit-appearance: none;
  background: linear-gradient(to right, #422550 0%, #422550 50%, #494949 50%, #494949 100%);
  border-radius: 7px;
  height: 7px;
  width: 250px;
}

.range:active {
  border-radius: 9px;
  height: 9px;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #8029ac;
  border: 0;
  border-radius: 13px;
  height: 13px;
  width: 13px;
}

.range::-ms-thumb {
  background-color: #8029ac;
  border: 0;
}

.range::-moz-range-thumb {
  background-color: #8029ac;
  border: 0;
}

.button {
  background-color: inherit;
  border: 0;
  color: white;
  outline: 0;
}

.play-button {
  background-color: inherit;
  border-radius: 50px;
  color: white;
  height: 50px;
  text-align: center;
  width: 50px;
}

.play-button span {
  font-size: 35px;
  margin: auto;
}

.track-info {
  align-items: end;
  display: flex;
  flex-direction: column;
}

.track-info h4 {
  margin: 0;
  margin-bottom: 5px;
}

.track-time {
  margin: 0 5px;
}

.artist-name {
  margin: 0;
  padding: 0;
  text-align: end;
}

p {
  font-size: 14px;
}
